<div class="grid-container">
    <mat-card class="dashboard-card">

      <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-between" class="dashboard-card-content">
        <mat-card fxFlex="33">
          <h1>Image</h1>
          <mat-grid-list [cols]="3">
            <mat-grid-tile *ngFor="let i of [0,1,2,3,4,5,6,7,8]" [colspan]="1" [rowspan]="1">
              <img #image src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png" class="width-30"/>
              <input (change)="onChange($event, image, i, iframe)" type="file" class="width-30 opacity"/>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card>
        <mat-card fxFlex="66">
          <h1>Transcript</h1>
          <textarea #textscript (change)="updateScript(textscript.value)" [value]="script.join('\n')" class="full" name="" id=""></textarea>
          <button (click)="renderVideo(iframe)">Ok!</button>
        </mat-card>
        <mat-card style="margin-top: 100px;" fxFlex="100">
          <h1>Video Render</h1>
          <iframe #iframe src=""></iframe>
        </mat-card>
      </mat-card-content>
    </mat-card>
</div>
