.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.width-60 {
  width: 110px;
  height: 110px;
  position: absolute;
  /* background-color: red; */
}

.opacity {
  opacity: 0.5;
  background-color: gray;
}


.full {
  width: 100%;
  height: 100%;
}


mat-slider {
  margin-top: 150px;
}

.card {
  box-shadow: 5px 10px #888888;
}
